{% extends 'base.html.twig' %}

{% block body %}
    <h1>Car List</h1>
    <ul>
        {% for car in cars %}
            <li>
                <a href="{{ path('car_details', { id: car.id }) }}">
                    {{ car.brand }} - {{ car.model }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
