<h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Load Capacity</h4>
<p class="text-[22px] font-semibold">{{ vehicle.loadKapacityKg }} KG</p>
<h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Number Of Axles</h4>
<p class="text-[22px] font-semibold">{{ vehicle.axlesNumber }}</p>