<h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Engine Capacity</h4>
<p class="text-[22px] font-semibold">{{ vehicle.engineCapacity }} L</p>
<h4 class="text-xs text-slate-300 font-semibold mt-2 uppercase">Colour</h4>
<p class="text-[22px] font-semibold">{{ vehicle.colour }}</p>